{% extends 'app1/base.html' %}

{% block body %}

<style>

    #div1{
        /* background-color: rgb(0, 255, 21); */
        width: 33.33%;
        float: left;
        height: 100px;
        text-align: left;
    }
    #div2{
        /* background-color: rgb(204, 0, 255); */
        width: 33.33%;
        margin: auto;
        height: 100px;
        text-align: left;
    }
    #div3{
        /* background-color: rgb(255, 162, 0); */
        width: 33.33%;
        
        float: right;
        margin-top: -100px;
        height: 100px;
       
        
        
    }
    .ribbon .ribbon-inner {
text-align: center;
font-size:10px;
color: #fff;
top: -20px;
left: -90px;
width: 120px;
padding: 3px;
/* position: relative;
transform: rotate(-45deg); */
}
.ribbon .ribbon-open {
background-color: #268ddd;
border-color: #1c72b4;
}
div.tempinv{
    color:black;
    font-size:10px;
}
table{
    border-collapse: collapse;
    border-spacing: 0;
  }
</style>

<div class="page-content">
<div class="card radius-15 h-20">
  <div class="row">
      <div class="col-md-12">
          <center><h2 class="mt-3">ESTIMATE TEMPLATES</h2></center>
          
          <hr style="width:95%">
      </div>
  </div>
</div>

  <div class="py-5">
    <div class="container">
      <div class="row hidden-md-up">
        <div class="col-md-5">
          <div class="card">
            <div class="card-block">
              <div class="card-body">
                <div class="tempinv">
                    <div  id="whatToPrint" style="background-color:white;">
            
                        <div class="my-5 page" size="A4" >
                            <div class="p-5">
                                <div id="ember2512" class="tooltip-container ember-view ribbon text-ellipsis">
                                    <div class="ribbon-inner ribbon-open">status<!----></div></div>
                                <section class="top-content bb d-flex justify-content-between">
                                    <div class="logo">
                                        <!-- <img src="logo.png" alt="" class="img-fluid"> -->
                                    </div>
                                    <div class="top-left">
                                        <div class="graphic-path">
                                            <p>Estimate</p>
                                        </div>
                                        <div class="position-relative">
                                            <p>Estimate No. <span>1</span></p>
                                        </div>
                                    </div>
                                </section>
                    
                                <section class="store-user mt-5">
                                    <div class="col-12">
                                        <div class="row bb pb-3">
                                            <div class="col-7">
                                                <p>FROM,</p>
                                                <h5>{{cmp1.cname }}</h5>
                                                <p class="address "> {{cmp1.caddress}}<br>
                                                    {{cmp1.city}},
                                                    {{cmp1.state}}<br>
                                                    {{cmp1.pincode}}<br>
                                                </p>
                                                
                                            </div>
                                            <div class="col-5">
                                                <p>TO,</p>
                                                <h5>{{estimate.customer}}</h5>
                                                <p class="address col-6" style="margin-left: -14px;" > {{ estimate.billingaddress}} </p>
                                                
                                            </div>
                                        </div>
                                        <div class="row extra-info pt-3">
                                            <div class="col-7">
                                                <p>Estimate Date: <span>{{estimate.estimatedate | date:'d-m-Y'}}</span></p>
                                            </div>
                                            <div class="col-5">
                                                <p>Expiration Date : <span>{{estimate.expirationdate | date:'d-m-Y'}}</span></p>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                    
                                <section class="product-area mt-4">
                                    <table border="1" style="background-color:#444;" class="table table-hover">
                                        <thead>
                                            <tr>
                                                <td>Item Description</td>
                                                <td>Price</td>
                                                <td>Quantity</td>
                                                <td>Total</td>
                                            </tr>
                                        </thead>
                                        <tbody>
        
                                            
                                            <tr>
                                                <td>
                                                    <div class="media" >
                                                        
                                                        <div class="media-body">
                                                            <p class="mt-0 title" style="color:black">{{estimate.product}}</p>
                                                            <span style="color:black">{{estimate.description}}</span>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td style="color:black">{{estimate.rate}}</td>
                                                <td style="color:black">{{estimate.qty}}</td>
                                                <td style="color:black">{{estimate.total}}</td>
                                            </tr>
                                            
        
                                            {% if estimate.product1 == NIL  %}
                                            <tr>
                                                <td>
                                                    <div class="media">
                                                        
                                                        <div class="media-body">
                                                            <p class="mt-0 title" style="color:black">{{estimate.product1}}</p>
                                                            <span style="color:black">{{estimate.description1}}</span>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td style="color:black">{{estimate.rate1}}</td>
                                                <td style="color:black">{{estimate.qty1}}</td>
                                                <td style="color:black">{{estimate.total1}}</td>
                                            </tr>
                                            {% endif %}
        
                                            {% if estimate.product2 == NIL  %}
                                            <tr>
                                                <td>
                                                    <div class="media">
                                                        
                                                        <div class="media-body">
                                                            <p class="mt-0 title" style="color:black">{{estimate.product2}}</p>
                                                            <span style="color:black">{{estimate.description2}}</span>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td style="color:black">{{estimate.rate2}}</td>
                                                <td style="color:black">{{estimate.qty2}}</td>
                                                <td style="color:black">{{estimate.total2}}</td>
                                            </tr>
                                            {% endif %}
                                            {% if estimate.product3 == NIL  %}
        
                                            <tr>
                                                <td>
                                                    <div class="media">
                                                        
                                                        <div class="media-body">
                                                            <p class="mt-0 title" style="color:black">{{estimate.product3}}</p>
                                                            <span style="color:black">{{estimate.description3}}</span>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td style="color:black">{{estimate.rate3}}</td>
                                                <td style="color:black">{{estimate.qty3}}</td>
                                                <td style="color:black">{{estimate.total3}}</td>
                                            </tr>
        
                                            {% endif %}
        
        
        
        
                                            
                                        </tbody>
                                    </table>
                                </section>
                    
                                <section class="balance-info">
                                    <div class="row">
                                        <div class="col-6">
                                            <p class="m-0 font-weight-bold" style="color:black"> Note: </p>
                                            <p style="color:black">{{estimate.note}}</p>
                                        </div>
                                        <div class="col-6">
                                            <table cellspacing="0" class="table border-0 table-hover">
                                                <tr >
                                                    <td style="color:black">Sub Total :</td>
                                                    <td style="color:black">{{estimate.subtotal}}</td>
                                                </tr>
                                                {% if estimate.IGST != "0.00" %}
                                                <tr>
                                                    <td style="color:black">IGST :</td>
                                                    <td style="color:black">{{estimate.IGST}}</td>
                                                </tr>
                                                {% endif %}
                                                {% if estimate.CGST != "0.00" %}
                                                <tr>
                                                    <td style="color:black">CGST :</td>
                                                    <td style="color:black">{{estimate.CGST}}</td>
                                                </tr>
                                                {% endif %}
                                                {% if estimate.SGST != "0.00" %}
                                                <tr>
                                                    <td style="color:black">SGST:</td>
                                                    <td style="color:black">{{estimate.SGST}}</td>
                                                </tr>
                                                {% endif %}
                                                {% if estimate.TCS != "0.00" %}
                                                <tr>
                                                    <td style="color:black">TCS:</td>
                                                    <td style="color:black">{{estimate.TCS}}</td>
                                                </tr>
                                                {% endif %}
                                                <tfoot>
                                                    <tr>
                                                        <td style="color:black">Estimate Total:</td>
                                                        <td style="color:black ;">{{estimate.estimatetotal}}</td>
                                                    </tr>
                                                </tfoot>
                                            </table>
                    
                                            <!-- Signature -->
                                            <!-- <div class="col-12">
                                                <img src="signature.png" class="img-fluid" alt="">
                                                <p class="text-center m-0" style="color:black"> Director Signature </p>
                                            </div> -->
                                        </div>
                                    </div>
                                </section>
                    
                                <!-- Cart BG -->
                                <img src="cart.jpg" class="img-fluid cart-bg" alt="">
                    
                                <!-- <footer>
                                    <hr>
                                    <p class="m-0 text-center">
                                        View THis Invoice Online At - <a href="#!"> invoice/saburbd.com/#868 </a>
                                    </p>
                                    <div class="social pt-3">
                                        <span class="pr-2">
                                            <i class="fas fa-mobile-alt"></i>
                                            <span>0123456789</span>
                                        </span>
                                        <span class="pr-2">
                                            <i class="fas fa-envelope"></i>
                                            <span>me@saburali.com</span>
                                        </span>
                                        <span class="pr-2">
                                            <i class="fab fa-facebook-f"></i>
                                            <span>/sabur.7264</span>
                                        </span>
                                        <span class="pr-2">
                                            <i class="fab fa-youtube"></i>
                                            <span>/abdussabur</span>
                                        </span>
                                        <span class="pr-2">
                                            <i class="fab fa-github"></i>
                                            <span>/example</span>
                                        </span>
                                    </div>
                                </footer> -->
                            </div>
                        </div>
        
                    </div>
                    
                
                    </div>
        
              
            
              <h5 class="card-text text-center" style="padding:5px;">Standard Template</h5>
             
            </div>
          </div>
        </div>
       
      </div>
    </div>
  </div>
</div>
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
  <script src="https://pingendo.com/assets/bootstrap/bootstrap-4.0.0-alpha.6.min.js"></script>

{% endblock %}